# .coffeeは無視する
*.coffee

#app/assets/stylesheets/application.cssは無視する
*app/assets/stylesheets/application.css

# bundle/config.
.bundle/config

# .scssは無視する
*.scss


# custom.scssは無視しない
!custom.scss

# app/assets/javascripts/channelsは無視する
*app/assets/javascripts/channels

# controllersフォルダを無視しない
!controllers/

# helpersファルダを無視しない
!helpers/

# mailersフォルダを無視しない
!mailers/



#jobsフォルダは無視する
/app/jobs

#concernsフォルダは無視する
*app/models/concerns/.keep

#temp/は無視する
*tmp/

#vendor/は無視する
*vendor/

#.byebug_historyは無視する
*.byebug_history

#views/account_activationsは無視する
*app/views/account_activations

#app/controllers/concernsは無視する
*app/controllers/concerns

#app/channelsは無視する
*app/channels
